body {
  background-color: tan;
}

h2 {
  font-size: 32px;
  font-style: bold;
}

.countries h2 {
  font-style: italic;
}

.column {
  width: 300px;
  float: left;
}

.column p {
  font-style: italic;
}
