img {
  float: left;
  width: 300px;
}

.contact-us {
  width 30%;
  float: left;
  margin: 12px;
  border: 2px solid green;
  padding: 40px;
  background-color: orange;
  box-sizing: border-box;
}
.sidebar {
  width:30%;
  float:left;
  background-color:lavenderblush; 

}

h2 {
  text-align:center;
  font-style: italic;
}

.list {
  text-align: center;
}
ul { 
  text-align: left;
}

